@mixin main () {
    background-color: #12002b;
    height: 83vh;
    display: flex;
}

@mixin button ($width, $padding, $size, $margin, $background-color, $color, $border, $decoration) {
    display: block;
    width: $width;
    padding: $padding;
    font-size: $size;
    font-weight: $font-weight;
    margin: $margin;
    background-color: $background-color;
    color: $color;
    border-color: $border;
    cursor: pointer;
    text-decoration: $decoration;
}